body {
    font-family: $font-family;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: $color-black;
}

// Headings.
h1 {
    font-size: $font-size-large;
    font-weight: $font-size-base;
}

// Links.
a {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        color: $color-primary;
    }

    &:hover {
        color: darken($color-primary, 5%);
    }
}
