// Colors.
$color-primary: #3d70b2;
$color-primary-light: #5596e6;
$color-secondary: #26cfb9;
$color-white: #f8fafc;
$color-black: #152934;
$color-grey-light: #f0f3f6;

// Typography.
$font-family: 'Nunito', sans-serif;
$font-size-base: 1rem;
$font-size-medium: 1.2rem;
$font-size-large: 1.5rem;
$font-weight-base: 300;
$line-height-base: 1.6;

// Spacing.
$grid-gap: 1rem;
$container-max-width: 50rem;

// Borders.
$border-radius-base: 3px;
